.blog {
    margin-top: 105px;

    .blog__post {
        border: 1px solid $color__light-grey;
        border-bottom-width: 4px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        .post__comments {
            &:before {
                margin-right: 5px;
                content: "|";
            }
        }

        .post__author {
            a {
                color: $color__medium-grey;
            }
        }

        .post__date {
            float: left;
            margin-right: 15px;
        }

        .post__info {
            float: left;
            width: 85%;

            .post__title {
                margin-bottom: 5px;
            }
        }

        .post__details {
            padding: 25px;
        }

        .post__excerpt {
            clear: both;
            margin-top: 35px;

            @include clearfix;

            p {
                color: #555;

                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }

        .post__actions {
            padding: 15px;
            border-top: 1px solid $color__light-grey;

            @include clearfix;
        }

        .read-more {
            margin: 30px 0 35px;
        }

        .post__info-wrapper {
            @include clearfix;
        }

        .post__tags {
            overflow: hidden;
            color: #555;

            .fa-tag {
                float: left;
                margin-right: 15px;
                line-height: 1.3;
            }

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            a {
                color: #555;
            }
        }

        .post__social {
            float: right;
        }

        .jsocials__block {
            .jssocials-share {
                float: left;

                &:not(:last-child) {
                    margin-right: 25px;
                }
            }

            .jssocials-share-link {
                color: $color__text;

                &:hover {
                    color: $color__black;
                }
            }
        }
    }

    .block__categories {
        li {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        a {
            height: 55px;
            display: block;
            font-size: 22px;
            overflow: hidden;
            color: $color__black;

            &:hover {
                color: $color__light-green;
            }
        }
    }

    .related__posts {
        margin-top: 35px;
        padding-top: 35px;
        margin-bottom: 50px;
        padding-bottom: 35px;
        border-top: 1px solid $color__light-grey;
        border-bottom: 1px solid $color__light-grey;

        .post__date {
            float: left;
            margin-right: 15px;
        }

        .post__title {
            height: 40px;
            overflow: hidden;
        }

        .post__comments {
            a {
                color: $color__medium-grey;
            }
        }

        .post__details {
            float: left;
            width: 71%;
        }

        .post__info-wrapper {
            @include clearfix;

            margin-bottom: 20px;
        }
    }

    .post__comments {
        h3 {
            font-size: 23px;
            color: $color__black;
            font-weight: 900;
            border-bottom: 1px solid $color__light-green;
            padding-bottom: 10px;
            margin-bottom: 35px;
            display: inline-block;
        }
    }
}