.category__internal {
    .category__map--search {
        height: 650px;
        background-color: #eee;
    }

    .map-search__images {
        width: 100%;
        display: table;
        text-align: center;
        margin-bottom: 50px;
    }

    .image__list-item {
        float: left;
        width: 20%;
    }

    .category__listing {
        a {
            display: block;
        }
    }

    .block__toolbar {
        margin-bottom: 20px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border: 1px solid $color__light-grey;

        @include clearfix;

        .toolbar__label {
            float: left;
            height: 72px;
            display: table;
            font-size: 20px;
            padding: 20px 35px 28px;
            color: $color__light-green;

            span {
                display: table-cell;
                vertical-align: middle;
            }

            strong {
                font-weight: 400;
                margin-left: 50px;
                color: $color__black;
                display: inline-block;
            }
        }

        .listing__mode {
            width: 120px;
            height: 72px;
            float: right;
            display: table;

            > div {
                text-align: center;
                display: table-cell;
                vertical-align: middle;

                a {
                    color: $color__light-grey;

                    &:hover {
                        color: $color__yellow;
                    }
                }
            }

            .mode__grid {
                border: 0 solid $color__light-grey;
                border: {
                    left: {
                        width: 1px;
                    };
                    right: {
                        width: 1px;
                    };
                };
            }
        }
    }

    .block__subcategory {
        margin-bottom: 25px;

        h3 {
            font-size: 27px;
            margin-bottom: 10px;
        }

        .subcategory__listing {
            .counter {
                margin-left: 30px;
                display: inline-block;
            }

            li {
                border-bottom: 1px solid $color__light-grey;
            }

            a {
                display: block;
                padding: 20px 0;
                color: $color__black;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .category__listing {

        @include clearfix;
        
        .listing__category-item {
            position: relative;
            margin-bottom: 30px;
        }

        .category__info {
            width: 90%;
            bottom: 15px;
            display: block;
            margin-left: 5%;
            padding: 10px 20px;
            position: absolute;
            background-color: $color__white;
        }

        .category__name {
            float: left;
            width: 75%;
            font-size: 20px;
            height: 50px;
            overflow: hidden;
            color: $color__black;
        }

        .category__icon {
            float: right;
        }
    }
}