.block__contact {
    .contact__benefits {
        margin: 95px 0;

        .benefit__item {
            text-align: center;
        }

        .benefit__label {
            display: block;
            margin-top: 30px;
            font-size: 20px;
            color: $color__black;
        }

        .benefit__icon {
            width: 92px;
            margin: 0 auto;
            height: 92px;
            display: table;
            font-size: 42px;
            position: relative;
            text-align: center;
            color: $color__light-green;
            border: 1px solid $color__soft-grey;
            border-radius: 60px;
            -moz-border-radius: 60px;
            -webkit-border-radius: 60px;
            -webkit-box-shadow: 0 5px 0 $color__soft-grey;
            -moz-box-shadow: 0 5px 0 $color__soft-grey;
            box-shadow: 0 5px 0 $color__soft-grey;

            &:hover {
                color: $color__white;
                background-color: $color__light-green;
            }

            i {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .form__block {
        margin-bottom: 40px;
    }
}