.block__search {
    position: relative;

    #search_map {
        background-color: #ccc;
        height: 650px;
    }

    .search__form {
        left: 0;
        width: 100%;
        bottom: 40px;
        position: absolute;

        fieldset {
            margin: 0;
            border: 0;
            padding: 0;
        }

        legend {
            padding: 10px;
            font-size: 21px;
            display: block;
            font-weight: 900;
            margin-bottom: 5px;
            color: $color__black;
            background-color: $color__yellow;
        }

        .form__fields {
            background-color: #333;

            @include clearfix;
        }

        .input__wrapper {
            display: block;
            padding-top: 25px;

            @include clearfix;

            &.custom__select {
                position: relative;

                &:after {
                    top: 25px;
                    right: 0;
                    content: "";
                    width: 30px;
                    height: 51px;
                    position: absolute;
                    pointer-events: none;
                    background-color: $color__yellow;
                }

                &:before {
                    top: 45px;
                    font-size: 16px;
                    right: 10px;
                    z-index: 1;
                    color: $color__white;
                    content: "\f0d7";
                    position: absolute;
                    font-family: "fontAwesome";
                }
            }
        }

        select,
        input[name="text"] {
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;

            &:hover,
            &:focus {
                border-color: $color__yellow;
            }
        }
    }

    .search__block {
        .search__input_wrapper {
            width: 74%;
            height: 100%;
            float: left;
        }

        .search__input {
            height: 100%;
            color: $color__white;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            background-color: #333;
            border: 0 solid #3e3e3e;
            border-left-width: 1px;
        }

        .search__button {
            height: 100%;
            width: 26%;
            border: none;
            outline: none;
            font-size: 20px;
            color: $color__white;
            background-color: $color__light-green;

            @include transition(all 0.3s);

            &:hover {
                background-color: darken($color__light-green, 5%);
            }
        }
    }

    .slider__icon {
        float: right;
        top: 13px;
        font-size: 22px;
        position: relative;
        color: $color__white;
    }

    #search__slider {
        width: 90%;
        float: left;
        margin: 23px 0;

        &.ui-widget.ui-widget-content {
            height: 7px;
            border: 1px solid #3e3e3e;
            background-color: transparent;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;

            .ui-slider-range {
                background-color: $color__light-green;
            }

            .ui-state-default, .ui-widget-content .ui-state-default {
                width: 15px;
                height: 15px;
                outline: none;
                background-color: $color__white;
                border-radius: 60px;
                -moz-border-radius: 60px;
                -webkit-border-radius: 60px;

                &:before {
                    top: -6px;
                    left: -6px;
                    width: 25px;
                    height: 25px;
                    content: "";
                    position: absolute;
                    border: 1px solid #3e3e3e;
                    border-radius: 60px;
                    -moz-border-radius: 60px;
                    -webkit-border-radius: 60px;
                }
            }
        }
    }
}

.block__category {
    .category__list-item {
        padding: 25px 20px;
        position: relative;
        margin-bottom: 30px;
        border: 1px solid $color__light-grey;

        @include clearfix;
        @include transition(all 0.3s);

        &:hover {
            transform: translateY(-2px);
            -webkit-transform: translateY(-2px);
            -moz-transform: translateY(-2px);
            box-shadow: 0 0 20px $color__light-grey;
            -moz-box-shadow: 0 0 20px $color__light-grey;
            -webkit-box-shadow: 0 0 20px $color__light-grey;
        }

        .category__icon {
            width: 20%;
            float: left;
            margin-right: 5%;
            max-width: 50px;
        }

        .category__name {
            height: 50px;
            font-size: 20px;
            font-weight: 900;
            overflow: hidden;
            margin-bottom: 35px;
        }
    }

    .category__details {
        width: 75%;
        float: left;
    }

    .category__list {
        > li {
            line-height: 1.8;

            > ul {
                float: right;

                > li {
                    font-weight: 900;
                }
            }
        }
    }
}

.block__blog {
    .blog__post {
        margin-bottom: 30px;
        border: 1px solid $color__light-grey;
        border-bottom-width: 4px;
    }

    .post__info {
        position: relative;
    }

    .post__date {
        bottom: 0;
        z-index: 9;
        position: absolute;
    }

    .post__thumbnail {
        display: block;

        @include transition(all 0.5s);

        img {
            height: auto;
            max-width: 100%;
        }

        &:hover {
            opacity: .8;
        }
    }

    .post__title {
        font-size: 20px;
        overflow: hidden;
        margin-bottom: 5px;
        white-space: nowrap;
        color: $color__black;
        text-overflow: ellipsis;
    }

    .post__details {
        padding: 30px 35px;
    }

    .post__misc {
        white-space: nowrap;
        color: $color__text;
        margin-bottom: 35px;

        a {
            color: $color__text;
        }

        .post__author {
            &:after {
                content: "|";
                margin: 0 5px;
            }
        }
    }

    .post__excerpt {
        height: 125px;
        overflow: hidden;
        font-size: 15px;
        line-height: 1.4;
    }

    .post__actions {
        margin-top: 25px;
        text-align: left;
    }
}

.block__gallery {
    .gallery__list-item {
        margin-bottom: 30px;

        .list-item__image {
            text-align: center;
        }

        a {
            display: block;

            &:hover {
                opacity: .75;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}