.block__syndicate {
    .syndicate__content {
        p {
            line-height: 1.5;
        }
    }

    .aside__more-info {
        margin-top: 55px;

        @include clearfix;

        .more-info__title {
            width: 48%;
            float: left;
            display: block;
            line-height: 1;
            font-size: 34px;
            font-weight: 700;
            text-align: right;
            text-shadow: 0 2px #cbcbcb;
            -webkit-text-shadow: 0 2px #cbcbcb;
            -moz-text-shadow: 0 2px #cbcbcb;
        }

        .more-info__image {
            width: 50%;
            float: left;
            margin-left: 2%;
            background-color: $color__white;
            border: 1px solid darken($color__soft-grey, 10%);
        }
    }
}