*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  color: #333;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

ul {
  list-style: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    opacity: .85; }

a:active,
a:hover {
  outline: 0;
  text-decoration: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-size: 16px;
  font-family: monospace, monospace; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (<none>)
 * Config saved to config.json and <none>
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.cclear {
  clear: both; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0); }

.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90); }

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0; }

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px; }

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0; }

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
.block__search {
  position: relative; }
  .block__search #search_map {
    background-color: #ccc;
    height: 650px; }
  .block__search .search__form {
    left: 0;
    width: 100%;
    bottom: 40px;
    position: absolute; }
    .block__search .search__form fieldset {
      margin: 0;
      border: 0;
      padding: 0; }
    .block__search .search__form legend {
      padding: 10px;
      font-size: 21px;
      display: block;
      font-weight: 900;
      margin-bottom: 5px;
      color: #000;
      background-color: #ffcb05; }
    .block__search .search__form .form__fields {
      background-color: #333; }
      .block__search .search__form .form__fields:before, .block__search .search__form .form__fields:after {
        clear: both;
        content: "";
        display: table; }
    .block__search .search__form .input__wrapper {
      display: block;
      padding-top: 25px; }
      .block__search .search__form .input__wrapper:before, .block__search .search__form .input__wrapper:after {
        clear: both;
        content: "";
        display: table; }
      .block__search .search__form .input__wrapper.custom__select {
        position: relative; }
        .block__search .search__form .input__wrapper.custom__select:after {
          top: 25px;
          right: 0;
          content: "";
          width: 30px;
          height: 51px;
          position: absolute;
          pointer-events: none;
          background-color: #ffcb05; }
        .block__search .search__form .input__wrapper.custom__select:before {
          top: 45px;
          font-size: 16px;
          right: 10px;
          z-index: 1;
          color: #fff;
          content: "\f0d7";
          position: absolute;
          font-family: "fontAwesome"; }
    .block__search .search__form select,
    .block__search .search__form input[name="text"] {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0; }
      .block__search .search__form select:hover, .block__search .search__form select:focus,
      .block__search .search__form input[name="text"]:hover,
      .block__search .search__form input[name="text"]:focus {
        border-color: #ffcb05; }
  .block__search .search__block .search__input_wrapper {
    width: 74%;
    height: 100%;
    float: left; }
  .block__search .search__block .search__input {
    height: 100%;
    color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #333;
    border: 0 solid #3e3e3e;
    border-left-width: 1px; }
  .block__search .search__block .search__button {
    height: 100%;
    width: 26%;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    background-color: #8dc63f;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .block__search .search__block .search__button:hover {
      background-color: #80b636; }
  .block__search .slider__icon {
    float: right;
    top: 13px;
    font-size: 22px;
    position: relative;
    color: #fff; }
  .block__search #search__slider {
    width: 90%;
    float: left;
    margin: 23px 0; }
    .block__search #search__slider.ui-widget.ui-widget-content {
      height: 7px;
      border: 1px solid #3e3e3e;
      background-color: transparent;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0; }
      .block__search #search__slider.ui-widget.ui-widget-content .ui-slider-range {
        background-color: #8dc63f; }
      .block__search #search__slider.ui-widget.ui-widget-content .ui-state-default, .block__search #search__slider.ui-widget.ui-widget-content .ui-widget-content .ui-state-default {
        width: 15px;
        height: 15px;
        outline: none;
        background-color: #fff;
        border-radius: 60px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px; }
        .block__search #search__slider.ui-widget.ui-widget-content .ui-state-default:before, .block__search #search__slider.ui-widget.ui-widget-content .ui-widget-content .ui-state-default:before {
          top: -6px;
          left: -6px;
          width: 25px;
          height: 25px;
          content: "";
          position: absolute;
          border: 1px solid #3e3e3e;
          border-radius: 60px;
          -moz-border-radius: 60px;
          -webkit-border-radius: 60px; }

.block__category .category__list-item {
  padding: 25px 20px;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #f4f4f4;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .block__category .category__list-item:before, .block__category .category__list-item:after {
    clear: both;
    content: "";
    display: table; }
  .block__category .category__list-item:hover {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    box-shadow: 0 0 20px #f4f4f4;
    -moz-box-shadow: 0 0 20px #f4f4f4;
    -webkit-box-shadow: 0 0 20px #f4f4f4; }
  .block__category .category__list-item .category__icon {
    width: 20%;
    float: left;
    margin-right: 5%;
    max-width: 50px; }
  .block__category .category__list-item .category__name {
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    overflow: hidden;
    margin-bottom: 35px; }
.block__category .category__details {
  width: 75%;
  float: left; }
.block__category .category__list > li {
  line-height: 1.8; }
  .block__category .category__list > li > ul {
    float: right; }
    .block__category .category__list > li > ul > li {
      font-weight: 900; }

.block__blog .blog__post {
  margin-bottom: 30px;
  border: 1px solid #f4f4f4;
  border-bottom-width: 4px; }
.block__blog .post__info {
  position: relative; }
.block__blog .post__date {
  bottom: 0;
  z-index: 9;
  position: absolute; }
.block__blog .post__thumbnail {
  display: block;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .block__blog .post__thumbnail img {
    height: auto;
    max-width: 100%; }
  .block__blog .post__thumbnail:hover {
    opacity: .8; }
.block__blog .post__title {
  font-size: 20px;
  overflow: hidden;
  margin-bottom: 5px;
  white-space: nowrap;
  color: #000;
  text-overflow: ellipsis; }
.block__blog .post__details {
  padding: 30px 35px; }
.block__blog .post__misc {
  white-space: nowrap;
  color: #999;
  margin-bottom: 35px; }
  .block__blog .post__misc a {
    color: #999; }
  .block__blog .post__misc .post__author:after {
    content: "|";
    margin: 0 5px; }
.block__blog .post__excerpt {
  height: 125px;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.4; }
.block__blog .post__actions {
  margin-top: 25px;
  text-align: left; }

.block__gallery .gallery__list-item {
  margin-bottom: 30px; }
  .block__gallery .gallery__list-item .list-item__image {
    text-align: center; }
  .block__gallery .gallery__list-item a {
    display: block; }
    .block__gallery .gallery__list-item a:hover {
      opacity: .75; }
  .block__gallery .gallery__list-item img {
    max-width: 100%;
    height: auto; }

.category__internal .category__map--search {
  height: 650px;
  background-color: #eee; }
.category__internal .map-search__images {
  width: 100%;
  display: table;
  text-align: center;
  margin-bottom: 50px; }
.category__internal .image__list-item {
  float: left;
  width: 20%; }
.category__internal .category__listing a {
  display: block; }
.category__internal .block__toolbar {
  margin-bottom: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #f4f4f4; }
  .category__internal .block__toolbar:before, .category__internal .block__toolbar:after {
    clear: both;
    content: "";
    display: table; }
  .category__internal .block__toolbar .toolbar__label {
    float: left;
    height: 72px;
    display: table;
    font-size: 20px;
    padding: 20px 35px 28px;
    color: #8dc63f; }
    .category__internal .block__toolbar .toolbar__label span {
      display: table-cell;
      vertical-align: middle; }
    .category__internal .block__toolbar .toolbar__label strong {
      font-weight: 400;
      margin-left: 50px;
      color: #000;
      display: inline-block; }
  .category__internal .block__toolbar .listing__mode {
    width: 120px;
    height: 72px;
    float: right;
    display: table; }
    .category__internal .block__toolbar .listing__mode > div {
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
      .category__internal .block__toolbar .listing__mode > div a {
        color: #f4f4f4; }
        .category__internal .block__toolbar .listing__mode > div a:hover {
          color: #ffcb05; }
    .category__internal .block__toolbar .listing__mode .mode__grid {
      border: 0 solid #f4f4f4;
      border-left-width: 1px;
      border-right-width: 1px; }
.category__internal .block__subcategory {
  margin-bottom: 25px; }
  .category__internal .block__subcategory h3 {
    font-size: 27px;
    margin-bottom: 10px; }
  .category__internal .block__subcategory .subcategory__listing .counter {
    margin-left: 30px;
    display: inline-block; }
  .category__internal .block__subcategory .subcategory__listing li {
    border-bottom: 1px solid #f4f4f4; }
  .category__internal .block__subcategory .subcategory__listing a {
    display: block;
    padding: 20px 0;
    color: #000; }
    .category__internal .block__subcategory .subcategory__listing a:hover {
      opacity: .7; }
.category__internal .category__listing:before, .category__internal .category__listing:after {
  clear: both;
  content: "";
  display: table; }
.category__internal .category__listing .listing__category-item {
  position: relative;
  margin-bottom: 30px; }
.category__internal .category__listing .category__info {
  width: 90%;
  bottom: 15px;
  display: block;
  margin-left: 5%;
  padding: 10px 20px;
  position: absolute;
  background-color: #fff; }
.category__internal .category__listing .category__name {
  float: left;
  width: 75%;
  font-size: 20px;
  height: 50px;
  overflow: hidden;
  color: #000; }
.category__internal .category__listing .category__icon {
  float: right; }

.block__syndicate .syndicate__content p {
  line-height: 1.5; }
.block__syndicate .aside__more-info {
  margin-top: 55px; }
  .block__syndicate .aside__more-info:before, .block__syndicate .aside__more-info:after {
    clear: both;
    content: "";
    display: table; }
  .block__syndicate .aside__more-info .more-info__title {
    width: 48%;
    float: left;
    display: block;
    line-height: 1;
    font-size: 34px;
    font-weight: 700;
    text-align: right;
    text-shadow: 0 2px #cbcbcb;
    -webkit-text-shadow: 0 2px #cbcbcb;
    -moz-text-shadow: 0 2px #cbcbcb; }
  .block__syndicate .aside__more-info .more-info__image {
    width: 50%;
    float: left;
    margin-left: 2%;
    background-color: #fff;
    border: 1px solid #d5d5d5; }

.blog {
  margin-top: 105px; }
  .blog .blog__post {
    border: 1px solid #f4f4f4;
    border-bottom-width: 4px; }
    .blog .blog__post:not(:last-child) {
      margin-bottom: 40px; }
    .blog .blog__post .post__comments:before {
      margin-right: 5px;
      content: "|"; }
    .blog .blog__post .post__author a {
      color: #262626; }
    .blog .blog__post .post__date {
      float: left;
      margin-right: 15px; }
    .blog .blog__post .post__info {
      float: left;
      width: 85%; }
      .blog .blog__post .post__info .post__title {
        margin-bottom: 5px; }
    .blog .blog__post .post__details {
      padding: 25px; }
    .blog .blog__post .post__excerpt {
      clear: both;
      margin-top: 35px; }
      .blog .blog__post .post__excerpt:before, .blog .blog__post .post__excerpt:after {
        clear: both;
        content: "";
        display: table; }
      .blog .blog__post .post__excerpt p {
        color: #555; }
        .blog .blog__post .post__excerpt p:not(:last-child) {
          margin-bottom: 25px; }
    .blog .blog__post .post__actions {
      padding: 15px;
      border-top: 1px solid #f4f4f4; }
      .blog .blog__post .post__actions:before, .blog .blog__post .post__actions:after {
        clear: both;
        content: "";
        display: table; }
    .blog .blog__post .read-more {
      margin: 30px 0 35px; }
    .blog .blog__post .post__info-wrapper:before, .blog .blog__post .post__info-wrapper:after {
      clear: both;
      content: "";
      display: table; }
    .blog .blog__post .post__tags {
      overflow: hidden;
      color: #555; }
      .blog .blog__post .post__tags .fa-tag {
        float: left;
        margin-right: 15px;
        line-height: 1.3; }
      .blog .blog__post .post__tags li {
        display: inline-block; }
        .blog .blog__post .post__tags li:not(:last-child) {
          margin-right: 10px; }
      .blog .blog__post .post__tags a {
        color: #555; }
    .blog .blog__post .post__social {
      float: right; }
    .blog .blog__post .jsocials__block .jssocials-share {
      float: left; }
      .blog .blog__post .jsocials__block .jssocials-share:not(:last-child) {
        margin-right: 25px; }
    .blog .blog__post .jsocials__block .jssocials-share-link {
      color: #999; }
      .blog .blog__post .jsocials__block .jssocials-share-link:hover {
        color: #000; }
  .blog .block__categories li:not(:last-child) {
    margin-bottom: 30px; }
  .blog .block__categories a {
    height: 55px;
    display: block;
    font-size: 22px;
    overflow: hidden;
    color: #000; }
    .blog .block__categories a:hover {
      color: #8dc63f; }
  .blog .related__posts {
    margin-top: 35px;
    padding-top: 35px;
    margin-bottom: 50px;
    padding-bottom: 35px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4; }
    .blog .related__posts .post__date {
      float: left;
      margin-right: 15px; }
    .blog .related__posts .post__title {
      height: 40px;
      overflow: hidden; }
    .blog .related__posts .post__comments a {
      color: #262626; }
    .blog .related__posts .post__details {
      float: left;
      width: 71%; }
    .blog .related__posts .post__info-wrapper {
      margin-bottom: 20px; }
      .blog .related__posts .post__info-wrapper:before, .blog .related__posts .post__info-wrapper:after {
        clear: both;
        content: "";
        display: table; }
  .blog .post__comments h3 {
    font-size: 23px;
    color: #000;
    font-weight: 900;
    border-bottom: 1px solid #8dc63f;
    padding-bottom: 10px;
    margin-bottom: 35px;
    display: inline-block; }

.block__contact .contact__benefits {
  margin: 95px 0; }
  .block__contact .contact__benefits .benefit__item {
    text-align: center; }
  .block__contact .contact__benefits .benefit__label {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    color: #000; }
  .block__contact .contact__benefits .benefit__icon {
    width: 92px;
    margin: 0 auto;
    height: 92px;
    display: table;
    font-size: 42px;
    position: relative;
    text-align: center;
    color: #8dc63f;
    border: 1px solid #eee;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -webkit-box-shadow: 0 5px 0 #eee;
    -moz-box-shadow: 0 5px 0 #eee;
    box-shadow: 0 5px 0 #eee; }
    .block__contact .contact__benefits .benefit__icon:hover {
      color: #fff;
      background-color: #8dc63f; }
    .block__contact .contact__benefits .benefit__icon i {
      display: table-cell;
      vertical-align: middle; }
.block__contact .form__block {
  margin-bottom: 40px; }

.main-header {
  border-top: 3px solid #8dc63f; }
  .main-header .block-1 {
    margin-top: 20px; }
  .main-header .block__sindicato {
    margin-top: 8px; }
  .main-header .block__social {
    margin-top: 10px; }
  .main-header .header__nav {
    top: 62px;
    z-index: 1;
    height: 82px;
    margin-top: -40px;
    position: relative;
    line-height: 82px;
    background-color: #333; }
    .main-header .header__nav:before, .main-header .header__nav:after {
      clear: both;
      content: "";
      display: table; }
    .main-header .header__nav li {
      width: 15%;
      float: left; }
      .main-header .header__nav li.is-active a {
        font-weight: bold; }
    .main-header .header__nav a {
      display: block;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      color: #fff;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .main-header .header__nav a:hover {
        background-color: #262626; }
    .main-header .header__nav .nav__actions {
      float: right; }
      .main-header .header__nav .nav__actions a {
        font-size: 18px; }
      .main-header .header__nav .nav__actions.download {
        width: 15%; }
      .main-header .header__nav .nav__actions.login {
        width: 11%; }
      .main-header .header__nav .nav__actions i {
        font-size: 18px;
        margin-right: 10px;
        color: #fff; }
    .main-header .header__nav .header__mobile-trigger {
      display: none; }
  .main-header .page__header {
    z-index: -1;
    height: 175px;
    position: relative;
    background-color: #8dc63f; }
    .main-header .page__header h1 {
      width: 100%;
      bottom: 25px;
      position: absolute;
      text-align: center;
      padding-bottom: 30px;
      color: #fff;
      text-transform: uppercase; }
      .main-header .page__header h1:before {
        left: 50%;
        bottom: 0;
        height: 1px;
        z-index: 1;
        content: "";
        width: 240px;
        position: absolute;
        margin-left: calc(-240px/2);
        background-color: #fff; }
      .main-header .page__header h1:after {
        left: 50%;
        z-index: 1;
        padding: 5px;
        bottom: -14px;
        color: #e1eebd;
        font-size: 18px;
        content: "\f107";
        font-weight: normal;
        position: absolute;
        margin-left: calc(-24px/2);
        font-family: "fontAwesome";
        background-color: #8dc63f; }

.block__section {
  margin-top: 110px;
  padding-bottom: 95px; }
  .block__section:not(:last-child) {
    border-bottom: 1px solid #f4f4f4; }
  .block__section .section__title {
    font-size: 31px;
    font-weight: 900;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 50px;
    text-transform: uppercase; }
    .block__section .section__title:before {
      left: 50%;
      bottom: 0;
      height: 1px;
      content: "";
      width: 240px;
      position: absolute;
      margin-left: calc(-240px/2);
      background-color: #f4f4f4; }
    .block__section .section__title:after {
      left: 50%;
      padding: 5px;
      bottom: -14px;
      color: #e1eebd;
      font-size: 20px;
      content: "\f107";
      font-weight: normal;
      position: absolute;
      margin-left: calc(-28px/2);
      font-family: "fontAwesome";
      background-color: #fff; }
  .block__section .section__actions {
    margin-top: 20px;
    text-align: center; }

.block__aside {
  padding: 35px 25px;
  margin-bottom: 50px;
  border: 1px solid #f4f4f4;
  border-bottom-color: #d9d9d9;
  border-bottom-width: 4px; }
  .block__aside.block__most-commented .most-commented__list-item:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f4f4; }
  .block__aside.block__most-commented h3 {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 40px;
    text-transform: uppercase; }
    .block__aside.block__most-commented h3:before {
      left: 50%;
      bottom: 0;
      height: 1px;
      content: "";
      width: 240px;
      position: absolute;
      margin-left: calc(-240px/2);
      background-color: #f4f4f4; }
    .block__aside.block__most-commented h3:after {
      left: 50%;
      padding: 5px;
      bottom: -14px;
      color: #e1eebd;
      font-size: 20px;
      content: "\f107";
      font-weight: normal;
      position: absolute;
      margin-left: calc(-28px/2);
      font-family: "fontAwesome";
      background-color: #fff; }
  .block__aside.block__most-commented .post__date {
    float: left;
    margin-right: 15px; }
  .block__aside.block__most-commented .post__misc .post__comments a {
    color: #b3b3b3; }
    .block__aside.block__most-commented .post__misc .post__comments a:hover {
      color: #bfbfbf; }
  .block__aside.block__most-commented .post__title {
    height: 40px;
    overflow: hidden; }
  .block__aside.block__most-commented .post__excerpt {
    clear: both;
    margin-top: 15px;
    line-height: 1.35; }

.post__date {
  width: 60px;
  height: 60px;
  padding: 7px 0;
  display: block;
  background-color: #ffcb05; }
  .post__date .date__day,
  .post__date .date__month {
    display: block;
    line-height: 1;
    text-align: center; }
  .post__date .date__day {
    font-size: 28px; }
  .post__date .date__month {
    display: block;
    font-size: 15px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase; }

.block__social h2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 10px; }
.block__social .social__listing li {
  float: left; }
  .block__social .social__listing li:not(:last-child) {
    margin-right: 25px; }
.block__social .social__listing a {
  font-size: 24px;
  color: #ffcb05; }
  .block__social .social__listing a:hover {
    color: #ebba00; }

.btn {
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 480px) {
    .btn {
      width: 100%;
      text-align: center; } }
  .btn-primary {
    font-size: 18px;
    color: #ffcb05;
    border: 1px solid #ffcb05; }
    .btn-primary:hover {
      color: #fff;
      background-color: #ffcb05; }
  .btn-secondary {
    color: #8dc63f;
    border: 1px solid #8dc63f; }
    .btn-secondary:hover {
      color: #fff;
      background-color: #8dc63f; }
  .btn-submit {
    border: 0;
    outline: 0;
    width: 100%;
    font-weight: 900;
    text-align: center;
    color: #fff;
    background-color: #8dc63f; }
    .btn-submit:hover {
      background-color: #72a230; }

.icon {
  width: 50px;
  height: 49px;
  display: inline-block;
  background: url(../../images/icon-spritesheet.png) 0 0 no-repeat; }
  .icon.icon-hotel {
    background-position: -73px -242px; }
  .icon.icon-bar {
    background-position: -73px -121px; }
  .icon.icon-pousada {
    background-position: -9px -121px; }
  .icon.icon-igreja {
    background-position: -135px -121px; }
  .icon.icon-albergue {
    background-position: -9px -7px; }
  .icon.icon-patrimonio {
    background-position: -69px -7px; }
  .icon.icon-motel {
    background-position: -135px -7px; }
  .icon.icon-hotel-termal {
    background-position: -135px -62px; }
  .icon.icon-mirante {
    background-position: -73px -62px; }
  .icon.icon-museu {
    background-position: -9px -242px; }
  .icon.icon-atendimento {
    background-position: -9px -62px; }
  .icon.icon-telefone {
    background-position: -9px -181px; }

.aside__map {
  width: 100%;
  min-height: 170px;
  background-color: #ffcb05; }
  .aside__map .map__download {
    position: relative; }
  .aside__map .map__title {
    color: #333;
    font-size: 58px;
    font-weight: 300;
    margin-right: 75px;
    display: inline-block;
    text-shadow: 0 2px #fffcff; }
  .aside__map .map__button {
    width: 200px;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: #8dc63f;
    background-color: #fff;
    border-radius: 10px;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .aside__map .map__button:hover {
      color: #fff;
      background-color: #8dc63f;
      box-shadow: 0 0 20px #72a230;
      -webkit-box-shadow: 0 0 20px #72a230;
      -moz-box-shadow: 0 0 20px #72a230;
      text-shadow: 0 1px #567b24;
      -webkit-text-shadow: 0 1px #567b24;
      -moz-text-shadow: 0 1px #567b24; }
  .aside__map--vertical {
    width: 321px;
    height: 526px;
    position: relative; }
    .aside__map--vertical a {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: url(../../images/download-mapa-interno.png) 0 0 no-repeat; }
      .aside__map--vertical a:hover {
        opacity: .75; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 15px;
  outline: none;
  border: 1px solid #eee;
  border-radius: 10px;
  moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  input[type="password"]:hover,
  select:hover,
  textarea:hover {
    border-color: #bbbbbb; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="password"]:focus,
  select:focus,
  textarea:focus {
    border-left-width: 5px;
    border-color: #8dc63f; }

textarea {
  height: 150px;
  resize: none; }

.contact__form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px; }
.contact__form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  text-transform: lowercase; }
.contact__form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  text-transform: lowercase; }
.contact__form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  text-transform: lowercase; }
.contact__form .form__fields label {
  display: block;
  text-transform: lowercase;
  margin-bottom: 20px; }

.footer__aside {
  margin-top: 90px;
  padding: 35px 60px;
  background-color: #eee; }
  .footer__aside .aside__title {
    display: block;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .footer__aside .aside__listing li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #d5d5d5; }
  .footer__aside .aside__listing.realizacao li {
    padding: 14px; }
  .footer__aside .aside__listing.apoio .aside__list-item {
    float: left; }
    .footer__aside .aside__listing.apoio .aside__list-item:not(:last-child) {
      margin-right: 4%; }

.main__footer {
  padding: 60px 0;
  color: #fff;
  background-color: #222; }
  .main__footer .footer__about-company .about-company__image {
    margin-bottom: 25px; }
  .main__footer .footer__about-company .about-company__text {
    font-weight: 300;
    line-height: 1.35; }
  .main__footer .footer__blog .blog__title {
    text-transform: uppercase;
    margin-bottom: 22px;
    font-size: 20px; }
  .main__footer .footer__social {
    margin-top: 38px; }
    .main__footer .footer__social .social__contact {
      margin-bottom: 35px; }
      .main__footer .footer__social .social__contact li {
        display: inline-block; }
        .main__footer .footer__social .social__contact li:not(:last-child) {
          margin-right: 25px; }
      .main__footer .footer__social .social__contact a {
        color: #fff; }
      .main__footer .footer__social .social__contact i {
        font-size: 18px;
        margin-right: 10px;
        color: #ffcb05; }
    .main__footer .footer__social .social__listing li {
      display: inline-block; }
      .main__footer .footer__social .social__listing li:not(:last-child) {
        margin-right: 15px; }
    .main__footer .footer__social .social__listing i {
      font-size: 23px; }
  .main__footer .blog__list-item {
    padding: 25px 0 30px;
    border-bottom: 1px solid #2d2d2d; }
    .main__footer .blog__list-item:before, .main__footer .blog__list-item:after {
      clear: both;
      content: "";
      display: table; }
    .main__footer .blog__list-item .list-item__title {
      padding-top: 4px;
      padding-bottom: 4px;
      width: 85%;
      float: left;
      font-size: 20px;
      overflow: hidden;
      font-weight: normal;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .main__footer .blog__list-item .list-item__title a {
        color: #fff; }
        .main__footer .blog__list-item .list-item__title a:hover {
          color: #ffcb05; }
    .main__footer .blog__list-item .list-item__date {
      width: 15%;
      float: right; }
    .main__footer .blog__list-item .date__day,
    .main__footer .blog__list-item .date__month {
      display: block;
      text-align: center; }
    .main__footer .blog__list-item .date__day {
      font-size: 20px; }
    .main__footer .blog__list-item .date__month {
      line-height: .8;
      font-size: 10px;
      text-transform: uppercase; }

.footer__copyright {
  padding: 25px 0;
  background-color: #262626; }

.footer__logo {
  float: right; }

@media (max-width: 991px) {
  .block__section {
    margin-top: 45px;
    padding-bottom: 45px; }

  .main-header .header__nav li {
    width: 15%; }
  .main-header .header__nav .nav__actions.download {
    width: 20%; }
  .main-header .header__nav .nav__actions.login {
    width: 15%; }

  .block__search .search__form .form__fields {
    padding: 25px; }

  .aside__map {
    text-align: center; }
    .aside__map .map__title {
      font-size: 42px;
      display: block;
      margin-right: 0;
      margin-bottom: 15px; }

  .block__most-commented {
    margin-top: 50px; }

  .blog__single .related__posts .post__list-item {
    margin-bottom: 50px; }

  .block__syndicate .aside__more-info .more-info__title {
    margin-bottom: 25px; }
  .block__syndicate .aside__more-info .more-info__title,
  .block__syndicate .aside__more-info .more-info__image {
    width: 100%;
    text-align: center; }

  .footer__aside .aside__listing.apoio .aside__list-item {
    width: 100%;
    margin-bottom: 15px; } }
@media (max-width: 767px) {
  .main-header .header__nav .nav__actions a {
    font-size: 14px; }
  .main-header .header__nav .nav__actions.login {
    width: 30%;
    max-width: 100px; }
  .main-header .header__nav .nav__actions.download {
    width: 45%;
    max-width: 150px; }
  .main-header .header__nav .header__nav-wrapper {
    float: left;
    width: 25%;
    min-width: 65px; }
  .main-header .header__nav .header__mobile-menu {
    left: 0;
    display: none;
    position: absolute;
    background-color: #333; }
    .main-header .header__nav .header__mobile-menu li {
      width: 100%; }
    .main-header .header__nav .header__mobile-menu a {
      text-align: left;
      padding-right: 25px;
      padding-left: 25px;
      line-height: 60px; }
  .main-header .header__nav .header__mobile-trigger {
    display: block;
    font-size: 32px; }

  .main__footer .footer__blog {
    margin-top: 50px; }

  .footer__aside {
    padding: 15px 25px; }
    .footer__aside .aside__listing {
      margin-bottom: 25px; }

  .block__search .search__form .search__input_wrapper {
    width: 100%;
    margin-bottom: 25px; }
  .block__search .search__form .search__button {
    width: 100%;
    padding: 10px; }
  .block__search .search__form .search__input {
    border: 0;
    text-align: center; }

  .block__contact .contact__benefits .benefit__item {
    margin-bottom: 30px; } }
@media (max-width: 618px) {
  .blog .blog__post .post__info {
    width: 100%; }
  .blog .blog__post .post__date {
    margin-bottom: 15px; }
  .blog .blog__post .post__social {
    margin-top: 20px; }

  .category__internal .block__toolbar .listing__mode {
    width: 100%;
    background-color: #8dc63f; }
    .category__internal .block__toolbar .listing__mode > div a {
      font-size: 22px; }
  .category__internal .block__toolbar .toolbar__label {
    text-align: center; }
    .category__internal .block__toolbar .toolbar__label strong {
      margin-left: 0; } }
@media (max-width: 480px) {
  .category__internal .image__list-item {
    width: 100%; } }
@media (min-width: 992px) {
  .block__search .search__block {
    height: 103px; }
  .block__search .search__form .form__fields {
    padding-left: 25px; } }
@media (min-width: 768px) {
  .block__search .search__form .input__wrapper {
    padding-bottom: 25px; } }
@media (min-width: 1200px) {
  .aside__map .map__download:after {
    top: -105px;
    right: 0;
    content: "";
    width: 504px;
    height: 269px;
    position: absolute;
    background: url(../../images/download-mapa-imgs.png) no-repeat; } }

/*# sourceMappingURL=style.css.map */
