@media (max-width: $screen-sm-max) {
    .block__section {
        margin-top: 45px;
        padding-bottom: 45px;
    }

    .main-header {
        .header__nav {
            li {
                width: 15%;
            }

            .nav__actions {
                &.download {
                    width: 20%;
                }

                &.login {
                    width: 15%;
                }
            }
        }
    }

    .block__search {
        .search__form {
            .form__fields {
                padding: 25px;
            }
        }
    }

    .aside__map {
        text-align: center;

        .map__title {
            font-size: 42px;
            display: block;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    .block__most-commented {
        margin-top: 50px;
    }

    .blog__single {
        .related__posts {
            .post__list-item {
                margin-bottom: 50px;
            }
        }
    }

    .block__syndicate {
        .aside__more-info {
            .more-info__title {
                margin-bottom: 25px;
            }

            .more-info__title,
            .more-info__image {
                width: 100%;
                text-align: center;
            }
        }
    }

    .footer__aside {
        .aside__listing.apoio {
            .aside__list-item {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .main-header {
        .header__nav {
            .nav__actions {
                a {
                    font-size: 14px;
                }

                &.login {
                    width: 30%;
                    max-width: 100px;
                }

                &.download {
                    width: 45%;
                    max-width: 150px;
                }
            }

            .header__nav-wrapper {
                float: left;
                width: 25%;
                min-width: 65px;
            }

            .header__mobile-menu {
                left: 0;
                display: none;
                position: absolute;
                background-color: #333;

                li {
                    width: 100%;
                }

                a {
                    text-align: left;
                    padding-right: 25px;
                    padding-left: 25px;
                    line-height: 60px;
                }
            }

            .header__mobile-trigger {
                display: block;
                font-size: 32px;
            }
        }
    }

    .main__footer {
        .footer__blog {
            margin-top: 50px;
        }
    }

    .footer__aside {
        padding: 15px 25px;

        .aside__listing {
            margin-bottom: 25px;
        }
    }

    .block__search {
        .search__form {
            .search__input_wrapper {
                width: 100%;
                margin-bottom: 25px;
            }

            .search__button {
                width: 100%;
                padding: 10px;
            }

            .search__input {
                border: 0;
                text-align: center;
            }
        }
    }

    .block__contact {
        .contact__benefits {
            .benefit__item {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 618px) {
    .blog {
        .blog__post {
            .post__info {
                width: 100%;
            }

            .post__date {
                margin-bottom: 15px;
            }

            .post__social {
                margin-top: 20px;
            }
        }
    }

    .category__internal {
        .block__toolbar {
            .listing__mode {
                width: 100%;
                background-color: $color__light-green;

                > div {
                    a {
                        font-size: 22px;
                    }
                }
            }

            .toolbar__label {
                text-align: center;

                strong {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: $screen-xs) {
    .category__internal {
        .image__list-item {
            width: 100%;
        }
    }
}

@media (min-width: $screen-md) {
    .block__search {
        .search__block {
            height: 103px;
        }

        .search__form {
            .form__fields {
                padding-left: 25px;
            }
        }
    }
}

@media (min-width: $screen-sm) {
    .block__search {
        .search__form {
            .input__wrapper {
                padding-bottom: 25px;
            }
        }
    }
}

@media (min-width: $screen-lg) {
    .aside__map {
        .map__download {
            &:after {
                top: -105px;
                right: 0;
                content: "";
                width: 504px;
                height: 269px;
                position: absolute;
                background: url(../../images/download-mapa-imgs.png) no-repeat;
            }
        }

        .map__title {}
    }
}