.aside__map {
    width: 100%;
    min-height: 170px;
    background-color: $color__yellow;

    .map__download {
        position: relative;
    }

    .map__title {
        color: #333;
        font-size: 58px;
        font-weight: 300;
        margin-right: 75px;
        display: inline-block;
        text-shadow: 0 2px #fffcff;
    }

    .map__button {
        width: 200px;
        padding: 10px;
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        color: $color__light-green;
        background-color: $color__white;
        border-radius: 10px;
        moz-border-radius: 10px;
        -webkit-border-radius: 10px;
            
        @include transition(all .5s);

        &:hover {
            color: $color__white;
            background-color: $color__light-green;

            box-shadow: 0 0 20px darken($color__light-green, 10%);
            -webkit-box-shadow: 0 0 20px darken($color__light-green, 10%);
            -moz-box-shadow: 0 0 20px darken($color__light-green, 10%);

            text-shadow: 0 1px darken($color__light-green, 20%);
            -webkit-text-shadow: 0 1px darken($color__light-green, 20%);
            -moz-text-shadow: 0 1px darken($color__light-green, 20%);
        }
    }

    &--vertical {
        width: 321px;
        height: 526px;
        position: relative;

        a {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background: url(../../images/download-mapa-interno.png) 0 0 no-repeat;

            &:hover {
                opacity: .75;
            }
        }
    }
}