.btn {
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 30px;
    display: inline-block;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    @include transition(all 0.5s);

    @media( max-width: $screen-xs ){
        width: 100%;
        text-align: center;
    }

    &-primary {
        font-size: 18px;
        color: $color__yellow;
        border: 1px solid $color__yellow;

        &:hover {
            color: $color__white;
            background-color: $color__yellow;
        }
    }

    &-secondary {
        color: $color__light-green;
        border: 1px solid $color__light-green;

        &:hover {
            color: $color__white;
            background-color: $color__light-green;
        }
    }

    &-submit {
        border: 0;
        outline: 0;
        width: 100%;
        font-weight: 900;
        text-align: center;
        color: $color__white;
        background-color: $color__light-green;

        &:hover {
            background-color: darken($color__light-green, 10%);
        }
    }
}
