.footer__aside {
    margin-top: 90px;
    padding: 35px 60px;
    background-color: $color__soft-grey;

    .aside__title {
        display: block;
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .aside__listing {
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color__white;
            border: 1px solid darken($color__soft-grey, 10%);
        }

        &.realizacao {
            li {
                padding: 14px;
            }
        }

        &.apoio {
            .aside__list-item {
                float: left;

                &:not(:last-child) {
                    margin-right: 4%;
                }
            }
        }
    }
}

.main__footer {
    padding: 60px 0;
    color: $color__white;
    background-color: $color__dark-grey;

    .footer__about-company {
        .about-company__image {
            margin-bottom: 25px;
        }

        .about-company__text {
            font-weight: 300;
            line-height: 1.35;
        }
    }

    .footer__blog {
        .blog__title {
            text-transform: uppercase;
            margin-bottom: 22px;
            font-size: 20px;
        }
    }

    .footer__social {
        margin-top: 38px;

        .social__contact {
            margin-bottom: 35px;

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 25px;
                }
            }

            a {
                color: $color__white;
            }

            i {
                font-size: 18px;
                margin-right: 10px;
                color: $color__yellow;
            }
        }

        .social__listing {
            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }

            i {
                font-size: 23px;
            }
        }
    }

    .blog__list-item {
        padding: 25px 0 30px;
        border-bottom: 1px solid #2d2d2d;

        @include clearfix;

        .list-item__title {
            padding: {
                top: 4px;
                bottom: 4px;
            };
            width: 85%;
            float: left;
            font-size: 20px;
            overflow: hidden;
            font-weight: normal;
            white-space: nowrap;
            text-overflow: ellipsis;

            a {
                color: $color__white;

                &:hover {
                    color: $color__yellow;
                }
            }
        }

        .list-item__date {
            width: 15%;
            float: right;
        }

        .date__day,
        .date__month {
            display: block;
            text-align: center;
        }

        .date__day {
            font-size: 20px;
        }

        .date__month {
            line-height: .8;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}

.footer__copyright {
    padding: 25px 0;
    background-color: $color__medium-grey;
}

.footer__logo {
    float: right;
}