input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 10px;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    @include transition(all 0.5s);

    &:hover {
        border-color: darken(#eee, 20%);
    }

    &:focus {
    	border-left-width: 5px;
        border-color: $color__light-green;
    }
}

textarea {
    height: 150px;
    resize: none;
}

.contact__form {
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 14px;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px;
        text-transform: lowercase;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 14px;
        text-transform: lowercase;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        font-size: 14px;
        text-transform: lowercase;
    }

    .form__fields {
        label {
            display: block;
            text-transform: lowercase;
            margin-bottom: 20px;
        }
    }
}