.block__section {
    margin-top: 110px;
    padding-bottom: 95px;

    &:not(:last-child) {
        border-bottom: 1px solid $color__light-grey;
    }

    .section__title {
        font-size: 31px;
        font-weight: 900;
        text-align: center;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 50px;
        text-transform: uppercase;

        &:before {
            left: 50%;
            bottom: 0;
            height: 1px;
            content: "";
            width: 240px;
            position: absolute;
            margin-left: calc(-240px/2);
            background-color: $color__light-grey;
        }

        &:after {
            left: 50%;
            padding: 5px;
            bottom: -14px;
            color: #e1eebd;
            font-size: 20px;
            content: "\f107";
            font-weight: normal;
            position: absolute;
            margin-left: calc(-28px/2);
            font-family: "fontAwesome";
            background-color: $color__white;
        }
    }

    .section__actions {
        margin-top: 20px;
        text-align: center;
    }
}

.block__aside {
    padding: 35px 25px;
    margin-bottom: 50px;
    border: 1px solid $color__light-grey;
    border-bottom-color: #d9d9d9;
    border-bottom-width: 4px;

    &.block__most-commented {
        .most-commented__list-item {
            &:not(:last-child) {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $color__light-grey;
            }
        }

        h3 {
            font-size: 28px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 20px;
            position: relative;
            padding-bottom: 40px;
            text-transform: uppercase;

            &:before {
                left: 50%;
                bottom: 0;
                height: 1px;
                content: "";
                width: 240px;
                position: absolute;
                margin-left: calc(-240px/2);
                background-color: $color__light-grey;
            }

            &:after {
                left: 50%;
                padding: 5px;
                bottom: -14px;
                color: #e1eebd;
                font-size: 20px;
                content: "\f107";
                font-weight: normal;
                position: absolute;
                margin-left: calc(-28px/2);
                font-family: "fontAwesome";
                background-color: $color__white;
            }
        }

        .post__date {
            float: left;
            margin-right: 15px;
        }

        .post__misc {
            .post__comments {
                a {
                    color: lighten($color__text, 10%);

                    &:hover {
                        color: lighten($color__text, 15%);
                    }
                }
            }
        }

        .post__title {
            height: 40px;
            overflow: hidden;
        }

        .post__excerpt {
            clear: both;
            margin-top: 15px;
            line-height: 1.35;
        }
    }
}

.post__date {
    width: 60px;
    height: 60px;
    padding: 7px 0;
    display: block;
    background-color: $color__yellow;

    .date__day,
    .date__month {
        display: block;
        line-height: 1;
        text-align: center;
    }

    .date__day {
        font-size: 28px;
    }

    .date__month {
        display: block;
        font-size: 15px;
        font-weight: 900;
        line-height: 1.2;
        text-transform: uppercase;
    }
}

.block__social {
    h2 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .social__listing {
        li {
            float: left;

            &:not(:last-child) {
                margin-right: 25px;
            }
        }

        a {
            font-size: 24px;
            color: $color__yellow;

            &:hover {
                color: darken($color__yellow, 5%);
            }
        }
    }
}