.main-header {
    border-top: 3px solid $color__light-green;

    .block-1 {
        margin-top: 20px;
    }

    .block__sindicato {
        margin-top: 8px;
    }

    .block__social {
        margin-top: 10px;
    }

    .header__nav {
        top: 62px;
        z-index: 1;
        height: 82px;
        margin-top: -40px;
        position: relative;
        line-height: 82px;
        background-color: #333;

        @include clearfix;

        li {
            width: 15%;
            float: left;

            &.is-active {
                a {
                    font-weight: bold;
                }
            }
        }

        a {
            display: block;
            font-size: 20px;
            font-weight: 300;
            text-align: center;
            color: $color__white;

            @include transition(all 0.5s);

            &:hover {
                background-color: darken(#333, 5%);
            }
        }

        .nav__actions {
            float: right;

            a {
                font-size: 18px;
            }

            &.download {
                width: 15%;
            }

            &.login {
                width: 11%;
            }

            i {
                font-size: 18px;
                margin-right: 10px;
                color: $color__white;
            }
        }

        .header__mobile-trigger {
            display: none;
        }
    }

    .page__header {
        z-index: -1;
        height: 175px;
        position: relative;
        background-color: $color__light-green;

        h1 {
            width: 100%;
            bottom: 25px;
            position: absolute;
            text-align: center;
            padding-bottom: 30px;
            color: $color__white;
            text-transform: uppercase;

            &:before {
                left: 50%;
                bottom: 0;
                height: 1px;
                z-index: 1;
                content: "";
                width: 240px;
                position: absolute;
                margin-left: calc(-240px/2);
                background-color: $color__white;
            }

            &:after {
                left: 50%;
                z-index: 1;
                padding: 5px;
                bottom: -14px;
                color: #e1eebd;
                font-size: 18px;
                content: "\f107";
                font-weight: normal;
                position: absolute;
                margin-left: calc(-24px/2);
                font-family: "fontAwesome";
                background-color: $color__light-green;
            }
        }
    }
}