.icon {
	width: 50px;
	height: 49px;
	display: inline-block;
	background: url(../../images/icon-spritesheet.png) 0 0 no-repeat;

	&.icon {
		&-hotel {
			background-position: -73px -242px;
		}

		&-bar {
			background-position: -73px -121px;
		}

		&-pousada {
			background-position: -9px -121px;
		}

		&-igreja {
			background-position: -135px -121px;
		}

		&-albergue {
			background-position: -9px -7px;
		}

		&-patrimonio {
			background-position: -69px -7px;
		}

		&-motel {
			background-position: -135px -7px;
		}

		&-hotel-termal {
			background-position: -135px -62px;
		}

		&-mirante {
			background-position: -73px -62px;
		}

		&-museu {
			background-position: -9px -242px;
		}

		&-atendimento {
			background-position: -9px -62px;
		}

		&-telefone {
			background-position: -9px -181px;
		}

	}
}